
<div class="shadow-lg parallax">
  <div class="row no-gutters row-cols-1 text-center" style="position: absolute;width: 100%;height: 100%;margin-top: -90px;">
      <div class="col text-monospace text-lowercase text-center" style="color: rgb(255,255,255);font-size: 34px;margin-top: 33px;">
          <p data-aos="fade-down" style="text-shadow: 3px 0px 11px rgb(0,0,0);margin-top: 60vh;">
              <strong>何をしたい？</strong><br>
          </p>
      </div>
      <div class="col-12 text-monospace text-lowercase text-center" style="margin-top: -86px;">
        <input type="text" data-aos="flip-left" id="form" style="border-radius: 20px;opacity: 0.70;width: 349px;"></div>
  </div>
  <div class="container-fluid d-flex justify-content-center align-items-center parallax-content" style="height: 100vh;opacity: 1;">
      <div class="row no-gutters row-cols-1" data-aos="fade-up">
          <div class="col" style="margin-top: -163px;">
              <div class="circle"><span></span><span></span><span></span><span></span></div><img class="rounded-circle img-fluid shadow-lg" data-bs-hover-animate="pulse" id="img-1" src="assets/img/ozaki.jpg" style="position: relative;width: 153px;height: 153px;"></div>
      </div>
  </div>
  <video class="parallax-background" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets/video/parallax.mp4" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':25}},{'type':'text','name':'video_css','label':'Video CSS (eg. filters)','wrapper':{'width':25}}]" wp-attr="[{'target':'src','replace':'%1'},{'target':'parent_style','replace':'%2'}]">
</video>
<div class="parallax-placeholder" style="background-image:url('assets/img/placeholder.jpg');"></div>
</div>